@{
    ViewBag.Title = "Index";
}


<div style="height: 100%">
    <table id="DataGrid" style="height: 80%;"></table>
</div>
<div id="drugDialog" style="display: none;">
    <form id="mainForm">
        <input type="hidden" name="DrugID" value="" />
        <table>
            <tr>
                <td>屠宰编号</td>
                <td>
                    @Html.DropDownList("KillCullID", ViewBag.KillCull as SelectList)
                </td>
                <td>屠宰溯源码</td>
                <td>
                    <input type="text" name="KillEpc" id="KillEpc" value="" readonly="readonly" />
                </td>
            </tr>
            <tr>
                <td>是否正常</td>
                <td>
                    <input type="checkbox" name="IsNormal" id="IsNormal" value="true" />
                </td>
                <td>防疫日期</td>
                <td>
                    <input name="DrugTime" type="text" value="" class="Wdate" onclick="WdatePicker()" />
                </td>
            </tr>
            <tr>
                <td>防疫人员</td>
                <td>
                    <input name="People" type="text" value="" class="" />
                </td>
                <td>备注</td>
                <td>
                    <input name="Remark" type="text" value="" />
                </td>
            </tr>
            <tr>
                <td>是否锁定</td>
                <td>
                    <input type="checkbox" name="IsLocked" value="true" />
                </td>
                <td>是否显示</td>
                <td>
                    <input type="checkbox" name="IsShow" value="true" />
                </td>
            </tr>
        </table>
    </form>
</div>

@section scripts{

    <script type="text/javascript">
        var drugGrid = null, drugDialog = null;
        $(function() {
            initGrid();

            $('#KillCullID').on('change', function () {
                loadBreedData();
            });
        });

        function initGrid() {
            drugGrid = $('#DataGrid').datagrid({
                url: '@Url.Action("GetList", "KillDrug")',
                rownumbers: true,
                striped: true,
                fitColumns: true,
                pagination: true,
                singleSelect: false,
                pageList: [10, 15, 20, 25],
                columns: [
                    [
                        { field: 'ck', checkbox: true },
                        { title: '屠宰溯源码', align: 'center', field: 'KillEpc', width: 35 },
                        { title: '防疫人员', align: 'center', field: 'People', width: 35 },
                        { title: '防疫日期', align: 'center', field: 'DrugTime', width: 35 },
                        { title: '检疫状况', align: 'center', field: 'DrugStatus', width: 35 },
                        { title: '备注', align: 'center', field: 'Remark', width: 35 }
                    ]
                ],
                toolbar: [
                    {
                        id: 'btnAdd',
                        text: ' 新建',
                        iconCls: 'icon-add',
                        handler: function() {
                            create();
                        }
                    }, {
                        id: 'btnEdit',
                        text: ' 编辑',
                        iconCls: 'icon-edit',
                        handler: function() {
                            var row = $('#DataGrid').datagrid('getSelections');
                            if (row) {
                                if (row.length == 1) {
                                    edit(row[0].DrugID);
                                } else {
                                    $.messager.alert('提示', '请选择需要编辑的一条数据行');
                                }
                            }
                        }
                    }, {
                        id: 'btnDelete',
                        text: ' 删除',
                        iconCls: 'icon-remove',
                        handler: function() {
                            var row = $('#DataGrid').datagrid('getSelections');
                            var ids = [];
                            if (row.length == 0) {
                                $.messager.alert('提示', '请选择需要删除的数据');
                                return;
                            }

                            $.messager.confirm('确认', '您确认想要删除记录吗？', function(r) {
                                if (r) {
                                    $.each(row, function(index, item) {
                                        ids.push(item.DrugID);
                                    });
                                    deleteByIds(ids);
                                }
                            });


                        }
                    }
                ]

            });


            drugDialog = $('#drugDialog').dialog({
                title: '新增',
                width: 600,
                height: 400,
                closed: true,
                cache: false,
                modal: true,
                resizable: true,
                buttons: [
                    {
                        text: '保存',
                        iconCls: 'icon-ok',
                        handler: saveData
                    }, {
                        text: '取消',
                        iconCls: 'icon-cancel',
                        handler: function() {
                            drugDialog.dialog("close");
                        }
                    }
                ],
                onClose: function() {}
            });
        }

        function loadBreedData() {
            var $cultivation = $('#KillCullID');
            var seltext= $cultivation.find("option:selected").text();
            $('#KillEpc').val(seltext);
            //var id = $cultivation.val();

        }

        function create() {
            Utils.resetForm($('#mainForm'));
            drugDialog.dialog('open');
            loadBreedData();
        }

        function edit(id) {
            Utils.resetForm($('#mainForm'));
            drugDialog.dialog({ title: "修改" }).dialog('open');

            Utils.ajaxPost('/KillDrug/GetKillDrugById', { id: id }, 'json', function (ret) {
                if (ret.IsSuccess) {
                    Utils.loadFormData($('#mainForm'), ret.Data);
                    loadBreedData();
                } else {
                    $.messager.alert('提示', '数据加载失败', 'error');
                }
            });
        }

        function saveData() {
            var flag = $('#mainForm').form('validate');
            if (!flag) {
                $.messager.alert('提示', '必须填写完整的信息', 'error');
                return false;
            }


            Utils.ajaxPost('/KillDrug/SaveKillDrugData', $('#mainForm').serialize(), 'json', function (ret) {
                if (ret.IsSuccess) {
                    drugDialog.dialog("close");
                    drugGrid.datagrid('reload');
                    $.messager.alert('提示', "保存成功");
                } else {
                    $.messager.alert('提示', "保存失败");
                }
            });
        }

        function deleteByIds(ids) {
            Utils.ajaxPost('/KillDrug/DeleteByIds', { ids: ids.join() }, 'json', function (ret) {

                if (ret.IsSuccess) {
                    $.messager.alert('提示', '删除成功');

                    drugGrid.datagrid('reload');
                } else {
                    $.messager.alert('提示', '删除失败');
                }

            });
        }
    </script>
}
























