@model FoodTrace.Model.MenuModel
@{
    ViewBag.Title = "Create";
    Layout = null;
    var pList = ViewBag.MenuList as List<SelectListItem>;
    }
    <h2>区域新建</h2>
    @using(Html.BeginForm("Create","Menu",FormMethod.Post))
    {
    <div>
        <label for="name">菜单名称:</label>
        @Html.TextBoxFor(m => Model.Name,new {@class="easyui-validatebox easyui-textbox",data_options="required:true"})
    </div>
    <div>
        <label for="name">父菜单:</label>
        @Html.DropDownListFor(m => Model.ParentID,pList,new {@class="easyui-validatebox easyui-combobox",data_options="required:true"})
    </div>
    <div>
        <label for="name">排序号:</label>
        @Html.TextBoxFor(m => Model.SortID,new {@class="easyui-validatebox easyui-textbox",data_options="required:true"})
    </div>
    <div>
        <label for="name">功能页面路径:</label>
        @Html.TextBoxFor(m => Model.FunctionURL,new {@class="easyui-validatebox easyui-textbox",data_options="required:true"})
    </div>
    }

