@{
    ViewBag.Title = "Index";
}


<div style="height: 100%">
    <table id="DataGrid" style="height: 80%;"></table>
</div>
<div id="areaDialog" style="display: none;">
    <form id="mainForm">
        <input type="hidden" name="AreaID" value="" />
        <table>
            <tr>
                <td>养殖场</td>
                <td>
                    @Html.DropDownList("BreedID", ViewBag.BreedBase as SelectList)
                </td>
                <td>区域名称</td>
                <td>
                    <input type="text" name="AreaName" id="AreaName" value="" />
                </td>
            </tr>
            <tr>
                <td>面积</td>
                <td>
                    <input type="text" name="Area" id="Area" value="" />
                </td>
                <td>负责人</td>
                <td>
                    <input name="Who" type="text" value="" />
                </td>
            </tr>
            <tr>
                <td>养殖品种</td>
                <td>
                    @Html.DropDownList("Variety", ViewBag.VarietyList as SelectList)
                   
                </td>
                <td>殖保员</td>
                <td>
                    <input name="People" type="text" value="" />
                </td>
            </tr>
           
            <tr>
                <td>性质与责任</td>
                <td>
                    <input type="text" name="Responsibility" value="" />
                </td>
                <td>备注</td>
                <td >
                    <input type="text" name="Remark" value="" />
                </td>

            </tr>
            <tr>
                <td>是否锁定</td>
                <td>
                    <input type="checkbox" name="IsLocked" value="true" />
                </td>
                <td>是否显示</td>
                <td>
                    <input type="checkbox" name="IsShow" value="true" />
                </td>
            </tr>
        </table>
    </form>
</div>

@section scripts{

    <script type="text/javascript">
        var breedGrid = null, areaDialog = null;
        $(function() {
            initGrid();

        });

        function initGrid() {
            breedGrid = $('#DataGrid').datagrid({
                url: '@Url.Action("GetList", "BreedArea")',
                rownumbers: true,
                striped: true,
                fitColumns: true,
                pagination: true,
                singleSelect: false,
                pageList: [10, 15, 20, 25],
                columns: [
                    [
                        { field: 'ck', checkbox: true },
                        { title: '养殖场名称', align: 'center', field: 'BreedName', width: 35 },
                        { title: '区域名称', align: 'center', field: 'AreaName', width: 35 },
                        { title: '面积', align: 'center', field: 'Area', width: 35 },
                        { title: '负责人', align: 'center', field: 'Who', width: 35 },
                        { title: '养殖品种', align: 'center', field: 'Variety', width: 35 },
                        { title: '殖保员', align: 'center', field: 'Lat', width: 35 },
                        { title: '性质与责任', align: 'center', field: 'Responsibility', width: 35 },
                        { title: '殖保员', align: 'center', field: 'People', width: 35 },
                        { title: '备注', align: 'center', field: 'Remark', width: 35 }
                    ]
                ],
                toolbar: [
                    {
                        id: 'btnAdd',
                        text: ' 新建',
                        iconCls: 'icon-add',
                        handler: function() {
                            create();
                        }
                    }, {
                        id: 'btnEdit',
                        text: ' 编辑',
                        iconCls: 'icon-edit',
                        handler: function() {
                            var row = $('#DataGrid').datagrid('getSelections');
                            if (row) {
                                if (row.length == 1) {
                                    edit(row[0].AreaID);
                                } else {
                                    $.messager.alert('提示', '请选择需要编辑的一条数据行');
                                }
                            }
                        }
                    }, {
                        id: 'btnDelete',
                        text: ' 删除',
                        iconCls: 'icon-remove',
                        handler: function() {
                            var row = $('#DataGrid').datagrid('getSelections');
                            var ids = [];
                            if (row.length == 0) {
                                $.messager.alert('提示', '请选择需要删除的数据');
                                return;
                            }

                            $.messager.confirm('确认', '您确认想要删除记录吗？', function(r) {
                                if (r) {
                                    $.each(row, function(index, item) {
                                        ids.push(item.AreaID);
                                    });
                                    deleteByIds(ids);
                                }
                            });


                        }
                    }
                ]

            });


            areaDialog = $('#areaDialog').dialog({
                title: '新增',
                width: 600,
                height: 400,
                closed: true,
                cache: false,
                modal: true,
                resizable: true,
                buttons: [
                    {
                        text: '保存',
                        iconCls: 'icon-ok',
                        handler: saveData
                    }, {
                        text: '取消',
                        iconCls: 'icon-cancel',
                        handler: function() {
                            areaDialog.dialog("close");
                        }
                    }
                ],
                onClose: function() {}
            });
        }


        function create() {
            Utils.resetForm($('#mainForm'));
            areaDialog.dialog('open');

        }

        function edit(id) {
            Utils.resetForm($('#mainForm'));
            areaDialog.dialog({ title: "修改" }).dialog('open');

            Utils.ajaxPost('/BreedArea/GetBreedAreaById', { id: id }, 'json', function (ret) {
                if (ret.IsSuccess) {
                    Utils.loadFormData($('#mainForm'), ret.Data);

                } else {
                    $.messager.alert('提示', '数据加载失败', 'error');
                }
            });
        }

        function saveData() {
            var flag = $('#mainForm').form('validate');
            if (!flag) {
                $.messager.alert('提示', '必须填写完整的信息', 'error');
                return false;
            }


            Utils.ajaxPost('/BreedArea/SaveBreedAreaData', $('#mainForm').serialize(), 'json', function (ret) {
                if (ret.IsSuccess) {
                    areaDialog.dialog("close");
                    breedGrid.datagrid('reload');
                    $.messager.alert('提示', "保存成功");
                } else {
                    $.messager.alert('提示', "保存失败");
                }
            });
        }

        function deleteByIds(ids) {
            Utils.ajaxPost('/BreedArea/DeleteByIds', { ids: ids.join() }, 'json', function (ret) {

                if (ret.IsSuccess) {
                    $.messager.alert('提示', '删除成功');

                    breedGrid.datagrid('reload');
                } else {
                    $.messager.alert('提示', '删除失败');
                }

            });
        }
    </script>
}




























