@model FoodTrace.Model.ProvinceModel
@{
    ViewBag.Title = "Create";
    Layout = null;
    var areaList = ViewBag.AreaList as List<SelectListItem>
    ;
    }
    <!-- <div>
        <label for="name">省份编码:</label>
        <td>@Html.TextBoxFor(m => Model.ProvinceCode,new {@class="easyui-validatebox",data_options="required:true"})</td>
    </div>-->

    <h2>省份添加</h2>
    @using (Html.BeginForm("Create", "Province", FormMethod.Post))
    {

    <div>
        <label for="name">省份编码:</label>
        @Html.TextBoxFor(m => Model.ProvinceCode,new {@class="easyui-validatebox easyui-textbox",data_options="required:true"})
    </div>
    <div>
        <label for="name">区域名称:</label>
        @Html.DropDownListFor((m=>Model.AreaID),areaList,new {@class="easyui-validatebox easyui-combobox",data_options="required:true"})
    </div>
    <div>
        <label for="name">省份名称:</label>
        @Html.TextBoxFor(m => Model.ProvinceName,new {@class="easyui-validatebox easyui-textbox",data_options="required:true"})
    </div>

    }

