@{
    ViewBag.Title = "Index";
}


<div style="height: 100%">
    <table id="DataGrid" style="height: 80%;"></table>
</div>
<div id="killDialog" style="display: none;">
    <form id="mainForm">
        <input type="hidden" name="KillCullID" value="" />
        <table>
            <tr>
                <td>批次批次</td>
                <td>
                    @Html.DropDownList("KillBatchID", ViewBag.KillBatch as SelectList)
                </td>
                <td>养殖生物</td>
                <td>
                    @Html.DropDownList("CultivationID", ViewBag.Cultivation as SelectList)
                </td>

            </tr>
            <tr>
                <td>名称</td>
                <td>
                    <input type="text" name="ProductName" id="ProductName" value="" />
                </td>
                <td>重量</td>
                <td>
                    <input type="text" name="Weight" id="Weight" value="" />
                </td>
            </tr>
            <tr>
                <td>养殖溯源码</td>
                <td>
                    <input type="text" name="CultivationEpc" id="CultivationEpc" value="" readonly="readonly" />
                </td>
                <td>屠宰流程</td>
                <td>
                    <input name="Flow" type="text" value="" />
                </td>
            </tr>
            <tr>
                <td>屠宰日期</td>
                <td>
                    <input name="KillTime" type="text" value="" class="Wdate" onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm:ss' })" />
                </td>
                <td>备注</td>
                <td colspan="3">
                    <input name="Remark" type="text" value="" />
                </td>

            </tr>
            <tr>
                <td>是否锁定</td>
                <td>
                    <input type="checkbox" name="IsLocked" value="true" />
                </td>
                <td>是否显示</td>
                <td>
                    <input type="checkbox" name="IsShow" value="true" />
                </td>
            </tr>
          
        </table>
    </form>
</div>

@section scripts{

    <script type="text/javascript">
        var killGrid = null, killDialog = null;
        $(function() {
            initGrid();

            $('#CultivationID').on('change', function() {
                loadBreedData();
            });
        });

        function initGrid() {
            killGrid = $('#DataGrid').datagrid({
                url: '@Url.Action("GetList", "Kill")',
                rownumbers: true,
                striped: true,
                fitColumns: true,
                pagination: true,
                singleSelect: false,
                pageList: [10, 15, 20, 25],
                columns: [
                    [
                        { field: 'ck', checkbox: true },
                        { title: '屠宰溯源码', align: 'center', field: 'KillEpc', width: 35 },
                        { title: '屠宰批次编号', align: 'center', field: 'KillBatchNO', width: 35 },
                        { title: '屠宰场', align: 'center', field: 'CompanyName', width: 35 },
                        { title: '生物溯源码', align: 'center', field: 'CultivationEpc', width: 35 },
                        { title: '名称', align: 'center', field: 'ProductName', width: 35 },
                        { title: '重量', align: 'center', field: 'Weight', width: 35 },
                        { title: '屠宰流程', align: 'center', field: 'Flow', width: 35 },
                         { title: '屠宰日期', align: 'center', field: 'KillTime', width: 35 },
                        { title: '备注', align: 'center', field: 'Remark', width: 35 }
                    ]
                ],
                toolbar: [
                    {
                        id: 'btnAdd',
                        text: ' 新建',
                        iconCls: 'icon-add',
                        handler: function() {
                            create();
                        }
                    }, {
                        id: 'btnEdit',
                        text: ' 编辑',
                        iconCls: 'icon-edit',
                        handler: function() {
                            var row = $('#DataGrid').datagrid('getSelections');
                            if (row) {
                                if (row.length == 1) {
                                    edit(row[0].KillCullID);
                                } else {
                                    $.messager.alert('提示', '请选择需要编辑的一条数据行');
                                }
                            }
                        }
                    }, {
                        id: 'btnDelete',
                        text: ' 删除',
                        iconCls: 'icon-remove',
                        handler: function() {
                            var row = $('#DataGrid').datagrid('getSelections');
                            var ids = [];
                            if (row.length == 0) {
                                $.messager.alert('提示', '请选择需要删除的数据');
                                return;
                            }

                            $.messager.confirm('确认', '您确认想要删除记录吗？', function(r) {
                                if (r) {
                                    $.each(row, function(index, item) {
                                        ids.push(item.KillCullID);
                                    });
                                    deleteByIds(ids);
                                }
                            });


                        }
                    }
                ]

            });


            killDialog = $('#killDialog').dialog({
                title: '新增',
                width: 600,
                height: 400,
                closed: true,
                cache: false,
                modal: true,
                resizable: true,
                buttons: [
                    {
                        text: '保存',
                        iconCls: 'icon-ok',
                        handler: saveData
                    }, {
                        text: '取消',
                        iconCls: 'icon-cancel',
                        handler: function() {

                            killDialog.dialog("close");
                        }
                    }
                ],
                onClose: function() {}
            });
        }

        function loadBreedData() {
            var $cultivation = $('#CultivationID');
            var seltext= $cultivation.find("option:selected").text();
            $('#CultivationEpc').val(seltext);
            //var id = $cultivation.val();

        }

        function create() {
            Utils.resetForm($('#mainForm'));
            killDialog.dialog('open');
            loadBreedData();
        }

        function edit(id) {
            Utils.resetForm($('#mainForm'));
            killDialog.dialog({ title: "修改" }).dialog('open');

            Utils.ajaxPost('/Kill/GetKillCullById', { id: id }, 'json', function (ret) {
                if (ret.IsSuccess) {
                    Utils.loadFormData($('#mainForm'), ret.Data);
                    loadBreedData();
                } else {
                    $.messager.alert('提示', '数据加载失败', 'error');
                }
            });
        }

        function saveData() {
            var flag = $('#mainForm').form('validate');
            if (!flag) {
                $.messager.alert('提示', '必须填写完整的信息', 'error');
                return false;
            }


            Utils.ajaxPost('/Kill/SaveKillCullData', $('#mainForm').serialize(), 'json', function (ret) {
                if (ret.IsSuccess) {
                    killDialog.dialog("close");
                    killGrid.datagrid('reload');
                    $.messager.alert('提示', "保存成功");
                } else {
                    $.messager.alert('提示', "保存失败");
                }
            });
        }

        function deleteByIds(ids) {
            Utils.ajaxPost('/Kill/DeleteByIds', { ids: ids.join() }, 'json', function (ret) {

                if (ret.IsSuccess) {
                    $.messager.alert('提示', '删除成功');

                    killGrid.datagrid('reload');
                } else {
                    $.messager.alert('提示', '删除失败');
                }

            });
        }
    </script>
}






















