
@{
    ViewBag.Title = "Index";
}


<div style="height: 100%">
    <table id="DataGrid" style="height: 80%;"></table>
</div>
<div id="fertDialog" style="display: none;">
    <form id="mainForm">
        <input type="hidden" name="FertID" value="" />
        <table>
            <tr>
                <td>种植计划</td>
                <td>
                    @Html.DropDownList("BatchID", ViewBag.BatchList as SelectList)
                </td>
                <td>肥料代号</td>
                <td>
                    <input type="text" name="FertCode" value="" class="easyui-validatebox" data-options="required:true" />
                </td>

            </tr>
            <tr>
                <td>肥料名称</td>
                <td>
                    <input type="text" name="FertName" value="" class="easyui-validatebox" data-options="required:true" />
                </td>
                <td>施肥日期</td>
                <td>
                    <input type="text" name="FertTime" value="" class="Wdate" onclick="WdatePicker()" />
                </td>
            </tr>
            <tr>
                <td>施肥人</td>
                <td>
                    <input type="text" name="FertPeople" value="" class="easyui-validatebox" data-options="required:true" />
                </td>
                <td>施肥类型</td>
                <td>
                    <input type="text" name="FertType" value="" />
                </td>
            </tr>
            <tr>
                <td>施肥方法</td>
                <td>
                    <input type="text" name="FertMethod" value="" class="easyui-validatebox" data-options="required:true" />
                </td>
                <td>用量（千克）</td>
                <td>
                    <input name="UANum" type="text" />
                </td>
            </tr>
            <tr>
                <td>天气</td>
                <td>
                    <input type="text" name="Weather" value="" class="easyui-validatebox" data-options="required:true" />
                </td>
                <td>种植溯源码</td>
                <td>
                    <input name="PlansCode" type="text" />
                </td>
         
            <tr>
                <td>是否锁定</td>
                <td>
                    <input type="checkbox" name="IsLocked" value="true" />
                </td>
                <td>是否显示</td>
                <td>
                    <input type="checkbox" name="IsShow" value="true" />
                </td>
            </tr>
            <tr>

                <td>备注</td>
                <td colspan="3">
                    <input name="Remark" type="text" />
                </td>

            </tr>
        </table>
    </form>
</div>

@section scripts{

    <script type="text/javascript">
        var fertGrid = null,fertDialog=null;
        $(function() {
            initGrid();
        });

        function initGrid() {
            fertGrid = $('#DataGrid').datagrid({
                url: '@Url.Action("GetList", "PlantFert")',
                rownumbers: true,
                striped: true,
                fitColumns: true,
                pagination: true,
                singleSelect: false,
                pageList: [10, 15, 20, 25],
                columns: [
                   [
                        { field: 'ck', checkbox: true },
                       { title: '肥料代号', align: 'center', field: 'FertCode', width: 35 },
                       { title: '肥料名称', align: 'center', field: 'FertName', width: 35 },
                       { title: '计划名称', align: 'center', field: 'BatchName', width: 35 },
                       { title: '种植批次溯源码', align: 'center', field: 'BatchCode', width: 35 },
                       { title: '施肥人', align: 'center', field: 'FertPeople', width: 35 },
                       { title: '施肥日期', align: 'center', field: 'FertTime', width: 35 },
                       { title: '施肥类型', align: 'center', field: 'FertType', width: 35 },
                       { title: '施肥方法', align: 'center', field: 'FertMethod', width: 35 },
                       { title: '用量(千克)', align: 'center', field: 'UANum', width: 35 },
                       { title: '天气', align: 'center', field: 'Weather', width: 35 },
                      { title: '备注', align: 'center', field: 'Remark', width: 35 }
                   ]
                ],
                toolbar: [
                    {
                        id: 'btnAdd',
                        text: ' 新建',
                        iconCls: 'icon-add',
                        handler: function () {
                            create();
                        }
                    }, {
                        id: 'btnEdit',
                        text: ' 编辑',
                        iconCls: 'icon-edit',
                        handler: function () {
                            var row = $('#DataGrid').datagrid('getSelections');
                            if (row) {
                                if (row.length == 1) {
                                    edit(row[0].FertID);
                                } else {
                                    $.messager.alert('提示', '请选择需要编辑的一条数据行');
                                }
                            }
                        }
                    }, {
                        id: 'btnDelete',
                        text: ' 删除',
                        iconCls: 'icon-remove',
                        handler: function () {
                            var row = $('#DataGrid').datagrid('getSelections');
                            var ids = [];
                            if (row.length == 0) {
                                $.messager.alert('提示', '请选择需要删除的数据');
                                return;
                            }

                            $.messager.confirm('确认', '您确认想要删除记录吗？', function (r) {
                                if (r) {
                                    $.each(row, function (index, item) {
                                        ids.push(item.FertID);
                                    });
                                    deleteByIds(ids);
                                }
                            });


                        }
                    }
                ]

            });


            fertDialog = $('#fertDialog').dialog({
                title: '新增',
                width: 600,
                height:400,
                closed: true,
                cache: false,
                modal: true,
                resizable: true,
                buttons: [
                        {
                            text: '保存',
                            iconCls: 'icon-ok',
                            handler: savePlantPlanData
                        }, {
                            text: '取消',
                            iconCls: 'icon-cancel',
                            handler: function () {

                                fertDialog.dialog("close");
                            }
                        }
                ],
                onClose: function () { }
            });
        }


        function create() {
            Utils.resetForm($('#mainForm'));
            fertDialog.dialog('open');
        }
        function edit(id) {
            Utils.resetForm($('#mainForm'));
            fertDialog.dialog({ title: "修改" }).dialog('open');

            Utils.ajaxPost('/PlantFert/GetFertById', { id: id }, 'json', function (ret) {
                if (ret.IsSuccess) {
                    Utils.loadFormData($('#mainForm'), ret.Data);
                } else {
                    $.messager.alert('提示', '数据加载失败', 'error');
                }
            });
        }

        function savePlantPlanData()
        {
            var flag = $('#mainForm').form('validate');
            if (!flag) {
                $.messager.alert('提示', '必须填写完整的信息', 'error');
                return false;
            }


            Utils.ajaxPost('/PlantFert/SavePlantFert', $('#mainForm').serialize(), 'json', function (ret) {
                if (ret.IsSuccess) {
                    fertDialog.dialog("close");
                    fertGrid.datagrid('reload');
                    $.messager.alert('提示', "保存成功");
                } else {
                    $.messager.alert('提示', "保存失败");
                }
            });
        }
        function deleteByIds(ids) {
            Utils.ajaxPost('/PlantFert/DeleteByIds', { ids: ids.join() }, 'json', function (ret) {

                if (ret.IsSuccess) {
                    $.messager.alert('提示', '删除成功');

                    fertGrid.datagrid('reload');
                } else {
                    $.messager.alert('提示', '删除失败');
                }

            });
        }
    </script>
}










