@{
    ViewBag.Title = "Index";
}


<div style="height: 100%">
    <table id="DataGrid" style="height: 80%;"></table>
</div>
<div id="areaDialog" style="display: none;">
    <form id="mainForm">
        <input type="hidden" name="VarietyId" value="" />
        <table>
            <tr>
                <td>养殖品种</td>
                <td>
                    <input type="text" name="VarietyName" value=""/>
                </td>
                <td>备注</td>
                <td>
                    <input type="text" name="Remark" value="" />
                </td>

            </tr>
            <tr>
                <td>是否锁定</td>
                <td>
                    <input type="checkbox" name="IsLocked" value="true" />
                </td>
                <td>是否显示</td>
                <td>
                    <input type="checkbox" name="IsShow" value="true" />
                </td>
            </tr>
        </table>
    </form>
</div>

@section scripts{

    <script type="text/javascript">
        var breedGrid = null, areaDialog = null;
        $(function() {
            initGrid();

        });

        function initGrid() {
            breedGrid = $('#DataGrid').datagrid({
                url: '@Url.Action("GetList", "BreedVariety")',
                rownumbers: true,
                striped: true,
                fitColumns: true,
                pagination: true,
                singleSelect: false,
                pageList: [10, 15, 20, 25],
                columns: [
                    [
                        { field: 'ck', checkbox: true },
                        { title: '品种名称', align: 'center', field: 'VarietyName', width: 35 },
                        { title: '公司名称', align: 'center', field: 'CompanyName', width: 35 },
                        { title: '备注', align: 'center', field: 'Remark', width: 35 }
                    ]
                ],
                toolbar: [
                    {
                        id: 'btnAdd',
                        text: ' 新建',
                        iconCls: 'icon-add',
                        handler: function() {
                            create();
                        }
                    }, {
                        id: 'btnEdit',
                        text: ' 编辑',
                        iconCls: 'icon-edit',
                        handler: function() {
                            var row = $('#DataGrid').datagrid('getSelections');
                            if (row) {
                                if (row.length == 1) {
                                    edit(row[0].VarietyId);
                                } else {
                                    $.messager.alert('提示', '请选择需要编辑的一条数据行');
                                }
                            }
                        }
                    }, {
                        id: 'btnDelete',
                        text: ' 删除',
                        iconCls: 'icon-remove',
                        handler: function() {
                            var row = $('#DataGrid').datagrid('getSelections');
                            var ids = [];
                            if (row.length == 0) {
                                $.messager.alert('提示', '请选择需要删除的数据');
                                return;
                            }

                            $.messager.confirm('确认', '您确认想要删除记录吗？', function(r) {
                                if (r) {
                                    $.each(row, function(index, item) {
                                        ids.push(item.VarietyId);
                                    });
                                    deleteByIds(ids);
                                }
                            });


                        }
                    }
                ]

            });


            areaDialog = $('#areaDialog').dialog({
                title: '新增',
                width: 600,
                height: 400,
                closed: true,
                cache: false,
                modal: true,
                resizable: true,
                buttons: [
                    {
                        text: '保存',
                        iconCls: 'icon-ok',
                        handler: saveData
                    }, {
                        text: '取消',
                        iconCls: 'icon-cancel',
                        handler: function() {
                            areaDialog.dialog("close");
                        }
                    }
                ],
                onClose: function() {}
            });
        }


        function create() {
            Utils.resetForm($('#mainForm'));
            areaDialog.dialog('open');

        }

        function edit(id) {
            Utils.resetForm($('#mainForm'));
            areaDialog.dialog({ title: "修改" }).dialog('open');

            Utils.ajaxPost('/BreedVariety/GetVarietyDtoById', { id: id }, 'json', function (ret) {
                if (ret.IsSuccess) {
                    Utils.loadFormData($('#mainForm'), ret.Data);

                } else {
                    $.messager.alert('提示', '数据加载失败', 'error');
                }
            });
        }

        function saveData() {
            var flag = $('#mainForm').form('validate');
            if (!flag) {
                $.messager.alert('提示', '必须填写完整的信息', 'error');
                return false;
            }


            Utils.ajaxPost('/BreedVariety/SaveData', $('#mainForm').serialize(), 'json', function (ret) {
                if (ret.IsSuccess) {
                    areaDialog.dialog("close");
                    breedGrid.datagrid('reload');
                    $.messager.alert('提示', "保存成功");
                } else {
                    $.messager.alert('提示', "保存失败");
                }
            });
        }

        function deleteByIds(ids) {
            Utils.ajaxPost('/BreedVariety/DeleteByIds', { ids: ids.join() }, 'json', function (ret) {

                if (ret.IsSuccess) {
                    $.messager.alert('提示', '删除成功');

                    breedGrid.datagrid('reload');
                } else {
                    $.messager.alert('提示', '删除失败');
                }

            });
        }
    </script>
}




























