
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="table" style="height: 100%">
    <div class="table_title">
        根字典查询<input type="text" name="" id="" value="" />
        <a id="btnQuery" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-search'"></a>
        <div class="clearbox"></div>
    </div>
    <table id="DataGrid" style="height:100%;"></table>
</div>
<div id="DicDialog" style="display: none;" title="新建">
    <form id="mainForm">
        <input type="hidden" name="RooID" value="" />
        <table>
            <tr>
                <td>名称</td>
                <td>
                    <input type="text" name="Name" value="" class="easyui-validatebox" data-options="required:true" />
                </td>
                <td>描述</td>
                <td>
                    <input type="text" name="Description" value=""  />
                </td>
            </tr>
        <tr>
            <td>排序</td>
            <td>
                <input type="text" name="SortID" value="" class="easyui-validatebox" data-options="validType:'number'" />

            </td>
            <td>是否锁定</td>
            <td>
              <input type="checkbox" name="IsLocked" value="true"/>
            </td>
        </tr>
      </table>
</form>
</div>
<script>
    var dicGrid = null,dicDialog=null;
    $(function() {
        initDicGrid();
        dicDialog =$('#DicDialog').dialog({
            width: 600,
            height: 380,
            closed: true,
            cache: false,
            modal: true,
            buttons: [{
                text: 'Save',
                iconCls: 'icon-ok',
                handler: function () {
                    var $form = $('#DicDialog').find('form');

                    var flag = $form.form('validate');
                    if (flag) {
                        
                    }
                    saveDic();
                }
            }, {
                text: 'Close',
                iconCls: 'icon-cancel',
                handler: function () {
                    $('#DicDialog').dialog('close');
                }
            }]
        });
    });

    function initDicGrid() {
      dicGrid=  $('#DataGrid').datagrid({
            url: '@Url.Action("GetDicList", "DicRoot")',
            rownumbers: true,
            striped: true,
            fitColumns: true,
            pagination: true,
            singleSelect: false,
            pageList: [10, 15, 20, 25],
            columns: [[
                 { field: 'ck', checkbox: true },
              { title: '名称', align: 'center', field: 'Name', width: 35 },
              { title: '描述', align: 'center', field: 'Description', width: 35 },
              { title: '排序', align: 'center', field: 'SortID', width: 35 }
            ]],
            toolbar: [{
                id: 'btnAdd',
                text: ' 新建',
                iconCls: 'icon-add',
                handler: function () {
                    Utils.resetForm($('#mainForm'));
                    dicDialog.dialog('open');
                  
                }
            }, {
                id: 'btnEdit',
                text: ' 编辑',
                iconCls: 'icon-edit',
                handler: function () {

                    var row = $('#DataGrid').datagrid('getSelections');
                    if (row) {
                        if (row.length == 1) {
                            Edit(row[0].RootID);
                        } else {
                            $.messager.alert('提示', '只能选中一条数据行进行修改');
                        }
                    }

                }
            }, {
                id: 'btnDelete',
                text: ' 删除',
                iconCls: 'icon-remove',
                handler: function () {
                    var row = $('#DataGrid').datagrid('getSelections');
                    var ids = [];
                    if (row) {
                        $.messager.confirm('确认', '您确认想要删除记录吗？', function (r) {
                            if (r) {
                                $.each(row, function (index, item) {
                                    ids.push(item.RootID);
                                });
                                Delete(ids);
                            }
                        });
                    }
                }
            }]

        });
    }

    function Edit(id) {
        dicDialog.dialog({ title: "编辑用户" }).dialog('open');
        Utils.ajaxGet('/DicRoot/GetDicRootById', { rootId: id }, 'json', function(ret) {
            if (ret.IsSuccess) {
                Utils.loadFormData($('#mainForm'), ret.Data);
            } else {
                $.messager.alert('提示', '加载数据失败');
            }
        });
    }

    function Delete(id) {
        Utils.ajaxPost('/DicRoot/DeleteByIds', { ids: id.join() }, 'json', function(ret) {
            if (ret.IsSuccess) {
                dicGrid.datagrid('reload');
            } else {
                $.messager.alert('提示', '删除数据失败');
            }
        });
    }
    function saveDic() {
        var flag = $('#mainForm').form('validate');
        if (!flag) {
            $.messager.alert('Title', '必须填写完整的信息', 'error');
            return false;
        }
        Utils.ajaxPost('/DicRoot/SaveRootDic', $('#mainForm').serialize(), 'json', function(ret) {
            if (ret.IsSuccess) {
                $.messager.alert('提示', '保存成功');
                dicDialog.dialog('close');
                dicGrid.datagrid('reload');
            }
        });
    }
</script>
