@using FoodTrace.Model
@model UserBaseDto
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Scripts/ztree/css/zTreeStyle/zTreeStyle.css" rel="stylesheet" />

<div id="cc" class="easyui-layout" style="width:100%;height:100%;">
    <div data-options="region:'west',title:'公司',split:true" style="width:250px;">
        <ul id="OrgTree" class="ztree"></ul>
    </div>
    <div data-options="region:'center',title:'人员'" style="padding:5px;background:#eee;">
        <div class="table_title">
            用户名：<input type="text" class="input" id="uName" value="">
            <a id="btnQuery" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-search'"></a>
            <div class="clearbox"></div>
        </div>
        <table id="DataGrid" style="height: 100%;"></table>
    </div>
</div>  

<div id="roleDialog" title="设置角色" style="display:none;">
    <form id="roleForm">
        <ul class="ztree" id="RoleTree">
            
        </ul>
        <input type="hidden" name="UserId" id="UserId" />
    </form>

</div>

<div id="userDialog" title="新增用户" style="display: none;">
    <h2>用户信息</h2>
    <form id="mainForm">
        <input type="hidden" name="UserId" value=""/>
        <table>
            <tr>
                <td>登录账号</td>
                <td>
                    <input type="text" name="UserCode" value="" class="easyui-validatebox" data-options="required:true" />
                </td>
                <td>登录密码</td>
                <td>
                    <input type="text" name="Password" value="" class="easyui-validatebox" data-options="required:true" />

                </td>
            </tr>
            <tr>
                <td>用户姓名</td>
                <td>
                    <input type="text" name="UserName" value="" class="easyui-validatebox" data-options="required:true" />
                  
                </td>
                <td>公司ID</td>
                <td>
                    @Html.DropDownListFor(m => Model.CompanyID, ViewBag.CompanyList as IEnumerable<SelectListItem>, "-请选择-")
                </td>
            </tr>
            <tr>
                <td>部门编号</td>
                <td>
                    <select id="deptId" name="DeptID">
                        <option value="0">-请选择-</option>
                    </select>
                </td>
                <td>平台代码</td>
                <td>
                    <input type="text" name="AreaCode" value="" />
                </td>
            </tr>
            <tr>
                <td>用户类型</td>
                <td>
                    <select id="UserType" name="UserType">
                        <option value="1" selected>普通用户</option>
                    </select>
                </td>
                <td>入职日期</td>
                <td>
                    <input class="Wdate" name="EntryDate" type="text" onclick="WdatePicker()"> 
                </td>
            </tr>
            <tr>
                <td>离职日期</td>
                <td>
                    <input class="Wdate" name="LeaveDate" type="text" onclick="WdatePicker()"> 
                </td>
                <td>转正日期</td>
                <td>
                    <input class="Wdate" name="FormalDate" type="text" onclick="WdatePicker()"> 
                </td>

            </tr>
            <tr>
                <td>QQ号码</td>
                <td>
                    <input type="text" name="QQ" value=""/>
                </td>
                <td>出生年月</td>
                <td>
                    <input class="Wdate" name="BirthDay" type="text" onclick="WdatePicker()"> 
                </td>

            </tr>
            <tr>
                <td>邮箱</td>
                <td>
                    
                    <input type="text" name="Email" value="" />
                </td>
                <td>身份证号码</td>
                <td>
                    <input type="text" name="IDCard" value="" />
                </td>

            </tr>
            <tr>
                <td>手机号码</td>
                <td>
                    <input type="text" name="Mobile" value="" class="easyui-validatebox" data-options="required:true" />
                </td>
                <td>婚姻状况</td>
                <td>
                    <select name="Marriage">
                        <option value="1" selected>未婚</option>
                        <option value="2">已婚</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>性别</td>
                <td>
                    <select name="Gender" data-options="required:true">
                        <option value="1" selected>男</option>
                        <option value="2">女</option>
                    </select>
                </td>
                <td>学历</td>
                <td>
                    <select name="Education" data-options="required:true">
                        <option value="1" selected>小学及以下</option>
                        <option value="2">初中</option>
                        <option value="3">高中</option>
                        <option value="4">大专</option>
                        <option value="5">本科</option>
                        <option value="5">研究生及以上</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>常用住址</td>
                <td>
                    <input type="text" name="HomeAddress" value="" class="easyui-validatebox" data-options="required:true" />
                </td>
                <td>备注</td>
                <td>
                    <input type="text" name="Remark" value="" class="easyui-validatebox" data-options="required:true" />
                </td>
            </tr>
            <tr>
                <td>指纹考勤号</td>
                <td>
                    <input type="text" name="AttendanceNo" value="" class="easyui-validatebox" data-options="required:true" />
                </td>
                <td>工资发放账号</td>
                <td>
                    <input type="text" name="BankNo" value="" class="easyui-validatebox" data-options="required:true" />
                </td>
            </tr>
            <tr>
                <td>是否锁定</td>
                <td>
                    @Html.RadioButton("IsLocked", "true", false, new { @id = "radioEnabled1" })<label for="radioEnabled1">是</label>
                    @Html.RadioButton("IsLocked", "false", false, new { @id = "radioEnabled2" })<label for="radioEnabled2">否</label>
                </td>
            </tr>
            @*<tr>
                <td><a id="btnSave" href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-save'">保存</a></td>
                <td><a id="btnCancel" href="javascript:history.back();" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'">返回</a></td>
            </tr>*@
        </table>
    </form>
</div>
@section scripts{
<script src="~/Scripts/ztree/jquery.ztree.all.min.js"></script>
    <script >
        var gridList = null, userDialog = null, userValidate = null,roleDialog=null,orgTree=null,roleTree=null;
        $(function() {
            loadOrgTree();
            initGridData();
            loadRoleTree();
            //查询
            $('#btnQuery').on('click', function() {
                var uName= $('#uName').val();
                if (uName != '') {
                    gridList.datagrid('reload', {
                        uName: uName
                    });
                }
            });

            setDeptByCompany();

            $("#CompanyID").change(function () {
                setDeptByCompany();
            });
        });

        //初始化表格数据
        function initGridData() {
            gridList = $('#DataGrid').datagrid({
                url: '@Url.Action("GetUserList", "UserBase")',
                rownumbers: true,
                striped: true,
                fitColumns: true,
                pagination: true,
                singleSelect: false,
                pageList: [10, 15, 20, 25],
                toolbar: [
                    {
                        id: 'btnAdd',
                        text: ' 新建',
                        iconCls: 'icon-add',
                        handler: function () {
                            create();
                        }
                    }, {
                        id: 'btnEdit',
                        text: ' 编辑',
                        iconCls: 'icon-edit',
                        handler: function () {
                            var row = $('#DataGrid').datagrid('getSelections');
                            if (row) {
                                if (row.length == 1) {
                                    edit(row[0].UserId);
                                } else {
                                    $.messager.alert('提示', '请选择需要编辑的一条数据行');
                                }
                            }
                        }
                    }, {
                        id: 'btnDelete',
                        text: ' 删除',
                        iconCls: 'icon-remove',
                        handler: function () {
                            var row = $('#DataGrid').datagrid('getSelections');
                            var ids = [];
                            if (row.length == 0) {
                                $.messager.alert('提示', '请选择需要删除的数据');
                                return;
                            }

                            $.messager.confirm('确认', '您确认想要删除记录吗？', function (r) {
                                    if (r) {
                                        $.each(row, function (index, item) {
                                            ids.push(item.UserId);
                                        });
                                        deleteUser(ids);
                                    }
                                });

                            
                        }
                    }, {
                        id: 'btnSetRole',
                        text: ' 设置角色',
                        iconCls: 'icon-remove',
                        handler: function () {
                            var row = $('#DataGrid').datagrid('getSelections');
                            if (row) {
                                if (row.length == 1) {
                                    setRole(row[0].UserId);
                                } else {
                                    $.messager.alert('提示', "只能选中一条数据操作");
                                }

                            }
                        }
                    }
                ],
                columns: [
                    [
                         { field: 'ck', checkbox: true },
                        { title: '登录账号', align: 'center', field: 'UserCode', width: 35 },
                        { title: '密码', align: 'center', field: 'Password', width: 35 },
                        { title: '用户名', align: 'center', field: 'UserName', width: 35 },
                        { title: '部门名称', align: 'center', field: 'DeptName', width: 35 },
                        { title: '公司名称', align: 'center', field: 'CompanyName', width: 35 },
                        { title: '平台代码', align: 'center', field: 'AreaCode', width: 35 },
                        { title: '登录状态', align: 'center', field: 'Status', width: 35 },
                        { title: '用户类型', align: 'center', field: 'UserTypeStr', width: 35 }
                    ]
                ]
            });

            userDialog = $('#userDialog').dialog({
                title: 'My Dialog',
                width: 800,
                height: 500,
                closed: true,
                cache: false,
                modal: true,
                resizable: true,
                buttons: [
                        {
                            text: '保存',
                            iconCls: 'icon-ok',
                            handler: saveUser
                        }, {
                            text: '取消',
                            iconCls: 'icon-cancel',
                            handler: function () {
                                $('#mainForm')[0].reset();
                                 userDialog.dialog("close");
                            }
                        }
                ],
                onClose: function () { }
            });

            roleDialog = $('#roleDialog').dialog({
                width: 400,
                height: 300,
                closed: true,
                cache: false,
                modal: true,
                resizable: true,
                buttons: [
                        {
                            text: '保存',
                            iconCls: 'icon-ok',
                            handler: saveUserRole
                        }, {
                            text: '取消',
                            iconCls: 'icon-cancel',
                            handler: function () { roleDialog.dialog("close"); }
                        }
                ],
                onClose: function () { }
            });
        }

        //加载公司部门树
        function loadOrgTree() {
            var settings = {
                data: {
                    // key: { ckecked: "Checked" },
                    simpleData: { enable: true, idKey: "id", pIdKey: "pId" }
                },
                callback: { onClick: orgTreeClick}
            };
            Utils.ajaxGet("/UserBase/GetCompanyTree", null, "json", function (ret) {
                if (ret.IsSuccess) {
                    orgTree = $.fn.zTree.init($("#OrgTree"), settings, ret.Data);
                }
                // menuTree.expandAll(true);
            });
        }

        //树节点点击事件
        function orgTreeClick(event, treeId, treeNode) {
            var id = treeNode.id;
            var type = treeNode.type;
            //console.log('id:' + id + ",type=" + type);
            //if (type == 1) {
            //    id = treeNode.id;
            //}
            gridList.datagrid('reload', {
                id: id,
                type: type
            });


        }

        //角色树
        function loadRoleTree() {
            //树属性
            var settings = {
                check: {
                    enable: true,
                    chkStyle: "checkbox",
                    chkboxType: { "Y": "", "N": "" }
                },
                data: {
                    // key: { ckecked: "Checked" },
                    simpleData: { enable: true, idKey: "id", pIdKey: "pId" }
                }
            };
            Utils.ajaxGet("/Role/GetRoleTree", null, "json", function (ret) {
                if (ret.IsSuccess) {
                    roleTree = $.fn.zTree.init($("#RoleTree"), settings, ret.Data);
                }
                //moduleTree.expandAll(true);GetRoleTree
            });
        }


        function create() {
            Utils.resetForm($('#mainForm'));
            userDialog.dialog({ title: "新增用户" }).dialog('open');
            //$('#userDialog').load("/UserBase/Create");
        }

        function edit(id) {
            userDialog.dialog({ title: "编辑用户" }).dialog('open');
            Utils.ajaxGet('/UserBase/GetUserById', { id: id }, 'json', function(ret) {
                if (ret.IsSuccess) {
                    Utils.loadFormData($('#mainForm'), ret.Data);
                }
            });
           
        }
        function deleteUser(id) {
            Utils.ajaxPost('/UserBase/DeleteUser', { ids: id.join() },'json',function(ret) {
                if (ret.IsSuccess) {
                    $.messager.alert('提示', '删除成功',null,function() {
                        gridList.datagrid('reload');
                    });
                } else {
                    $.messager.alert('提示', '删除失败');
                }
            });
        }

        function saveUser() {

            var $form = $('#userDialog').find('form');
            var flag = $form.form('validate');
            if (!flag) {
                $.messager.alert('Title', '必须填写完整的信息', 'error');
                return false;
            }
            Utils.ajaxPost('/UserBase/SaveUserData', $form.serialize(), 'json', function (ret) {
                if (ret.IsSuccess) {
                    $('#mainForm')[0].reset();
                    $.messager.alert('提示', '保存成功',null,function() {
                        userDialog.dialog('close');
                    });
                    gridList.datagrid('reload');
                } else {
                    $.messager.alert('提示', ret.Msg);
                }
            });
        }

        //打开角色窗口并且
        function setRole(id) {
           
            $('#UserId').val(id);
            roleDialog.dialog('open');
            Utils.ajaxGet('/Role/GetUserRoleByUid', { uid: id }, 'json', function(ret) {
                if (ret.IsSuccess) {
                    roleTree.checkAllNodes(false);
                    var idArry = ret.Data;
                    for (var i = 0; i < idArry.length; i++) {
                        var node = roleTree.getNodeByParam("id", idArry[i], null);
                        if (node != null) {
                            node.checked = true;
                            roleTree.updateNode(node);
                           
                        }
                    }

                }
            });
        }

        function saveUserRole() {
            var checkedNode =roleTree.getCheckedNodes(true);
            var roleId = [];
            if (checkedNode.length > 0) {
                for (var i = 0; i < checkedNode.length; i++) {
                    roleId.push(checkedNode[i].id);
                }
            }
            var userid = $('#UserId').val();
            Utils.ajaxPost('/Role/SaveUserRefRole', { UserId: userid, RoleId: roleId }, 'json', function (ret) {
                if (ret.IsSuccess) {
                    $.messager.alert('提示:', '角色设置成功!',null,function() {
                        roleDialog.dialog("close");
                    });
                  } else {
                    $.messager.alert('提示:', '角色设置失败!',null, function () {
                        roleDialog.dialog("close");
                    });
                }
            });
        }




        ///设置公司下拉
        function setDeptByCompany() {
            var selectId = $("#CompanyID").val();

            Utils.ajaxGet('/Dept/GetDeptByCompany', { companyId: selectId }, 'json', function (ret) {
                $("#deptId").empty();
                var option = "<option value='0'>--请选择--</option>";;
                if (ret.length > 0) {
                    //遍历json数据，拼接option，最后添加到select中
                    $.each(ret, function (i, n) {
                        option += "<option value=" + n.Value + ">" + n.Text + "</option>";
                    });
                }
                $("#deptId").append(option); //等同于 $(option).appendTo($("#catagery"));
            });
        }

    </script>
}