
@{
    ViewBag.Title = "Index";
}

<div style="height: 100%">
    <table id="DataGrid" style="height: 80%;"></table>
</div>
<div id="landBatchDialog" style="display: none;">
    <form id="mainForm">
        <input type="hidden" name="BatchID" value="" />
        <table>
            <tr>
                <td>种植地块</td>
                <td>
                  @Html.DropDownList("BlockID",ViewBag.LandBlock as SelectList)
                </td>
                <td>种植种子</td>
                <td>
                    @Html.DropDownList("SeedID", ViewBag.SeedList as SelectList)
                </td>

            </tr>
            <tr>
                <td>计划编号</td>
                <td>
                    <input type="text" name="BatchNO" value="" class="easyui-validatebox" data-options="required:true" />
                </td>
                <td>种植日期</td>
                <td>
                    <input type="text" name="PlansTime" value="" class="Wdate" onclick="WdatePicker()"/>
                </td>
            </tr>
            <tr>
                <td>种植茨龄</td>
                <td>
                    <input type="text" name="PlansYear" value="" class="easyui-validatebox" data-options="required:true" />
                </td>
                <td>收获时间</td>
                <td>
                    <input type="text" name="HarvestTime" value="" class="Wdate" onclick="WdatePicker()" />
                </td>
            </tr>
            <tr>
                <td>种植面积</td>
                <td>
                    <input type="text" name="PlansArea" value="" class="easyui-validatebox" data-options="required:true" />
                </td>
                <td>栽培负责人</td>
                <td>
                    <input name="ChargePerson" type="text" />
                </td>
            </tr>
            <tr>
                <td>预计收获量</td>
                <td>
                    <input type="text" name="HarvestCount" value="" class="easyui-validatebox" data-options="required:true" />
                </td>
                <td>实际收获量</td>
                <td>
                    <input name="RealCount" type="text" />
                </td>
            </tr>
            <tr>
                <td>植保员</td>
                <td>
                    <input type="text" name="People" value="" class="easyui-validatebox" data-options="required:true" />
                </td>
            </tr>
            <tr>
                <td>是否锁定</td>
                <td>
                    <input type="checkbox" name="IsLocked" value="true" />
                </td>
                <td>是否显示</td>
                <td>
                    <input type="checkbox" name="IsShow" value="true" />
                </td>
            </tr>
            <tr>

                <td>备注</td>
                <td colspan="3">
                    <input name="Remark" type="text" />
                </td>

            </tr>
        </table>
    </form>
</div>

@section scripts{

    <script type="text/javascript">
        var plantPlanGrid = null,plantPlanDialog=null;
        $(function() {
            initGrid();
        });

        function initGrid() {
            plantPlanGrid = $('#DataGrid').datagrid({
                url: '@Url.Action("GetList", "PlantPlan")',
                rownumbers: true,
                striped: true,
                fitColumns: true,
                pagination: true,
                singleSelect: false,
                pageList: [10, 15, 20, 25],
                columns: [
                   [
                        { field: 'ck', checkbox: true },
                       { title: '地块名称', align: 'center', field: 'BlockName', width: 35 },
                       { title: '种子名称', align: 'center', field: 'SeedName', width: 35 },
                       { title: '计划编号', align: 'center', field: 'BatchNO', width: 35 },
                       { title: '种植批次溯源码', align: 'center', field: 'BatchCode', width: 35 },
                       { title: '种植日期', align: 'center', field: 'PlansTime', width: 35 },
                       { title: '种植茨龄', align: 'center', field: 'PlansYear', width: 35 },
                       { title: '收获日期', align: 'center', field: 'HarvestTime', width: 35 },
                       { title: '种植面积', align: 'center', field: 'PlansArea', width: 35 },
                       { title: '负责人', align: 'center', field: 'ChargePerson', width: 35 },
                       { title: '预计收获量', align: 'center', field: 'HarvestCount', width: 35 },
                      { title: '实际收获量', align: 'center', field: 'RealCount', width: 35 }
                   ]
                ],
                toolbar: [
                    {
                        id: 'btnAdd',
                        text: ' 新建',
                        iconCls: 'icon-add',
                        handler: function () {
                            create();
                        }
                    }, {
                        id: 'btnEdit',
                        text: ' 编辑',
                        iconCls: 'icon-edit',
                        handler: function () {
                            var row = $('#DataGrid').datagrid('getSelections');
                            if (row) {
                                if (row.length == 1) {
                                    edit(row[0].BatchID);
                                } else {
                                    $.messager.alert('提示', '请选择需要编辑的一条数据行');
                                }
                            }
                        }
                    }, {
                        id: 'btnDelete',
                        text: ' 删除',
                        iconCls: 'icon-remove',
                        handler: function () {
                            var row = $('#DataGrid').datagrid('getSelections');
                            var ids = [];
                            if (row.length == 0) {
                                $.messager.alert('提示', '请选择需要删除的数据');
                                return;
                            }

                            $.messager.confirm('确认', '您确认想要删除记录吗？', function (r) {
                                if (r) {
                                    $.each(row, function (index, item) {
                                        ids.push(item.BatchID);
                                    });
                                    deleteByIds(ids);
                                }
                            });


                        }
                    }
                ]

            });


            plantPlanDialog = $('#landBatchDialog').dialog({
                title: '新增',
                width: 600,
                height:400,
                closed: true,
                cache: false,
                modal: true,
                resizable: true,
                buttons: [
                        {
                            text: '保存',
                            iconCls: 'icon-ok',
                            handler: savePlantPlanData
                        }, {
                            text: '取消',
                            iconCls: 'icon-cancel',
                            handler: function () {

                                plantPlanDialog.dialog("close");
                            }
                        }
                ],
                onClose: function () { }
            });
        }


        function create() {
            Utils.resetForm($('#mainForm'));
            plantPlanDialog.dialog('open');
        }
        function edit(id) {
            Utils.resetForm($('#mainForm'));
            plantPlanDialog.dialog({ title: "修改" }).dialog('open');

            Utils.ajaxPost('/PlantPlan/GetPlatPlan', { id: id }, 'json', function (ret) {
                if (ret.IsSuccess) {
                    Utils.loadFormData($('#mainForm'), ret.Data);
                } else {
                    $.messager.alert('提示', '数据加载失败', 'error');
                }
            });
        }

        function savePlantPlanData()
        {
            var flag = $('#mainForm').form('validate');
            if (!flag) {
                $.messager.alert('提示', '必须填写完整的信息', 'error');
                return false;
            }


            Utils.ajaxPost('/PlantPlan/SavePlanData', $('#mainForm').serialize(), 'json', function (ret) {
                if (ret.IsSuccess) {
                    plantPlanDialog.dialog("close");
                    plantPlanGrid.datagrid('reload');
                    $.messager.alert('提示', "保存成功");
                } else {
                    $.messager.alert('提示', "保存失败");
                }
            });
        }
        function deleteByIds(ids) {
            Utils.ajaxPost('/PlantPlan/DeleteByIds', { ids: ids.join() }, 'json', function (ret) {

                if (ret.IsSuccess) {
                    $.messager.alert('提示', '删除成功');

                    plantPlanGrid.datagrid('reload');
                } else {
                    $.messager.alert('提示', '删除失败');
                }

            });
        }
    </script>
}






