@model FoodTrace.Model.DeptModel
@{
    ViewBag.Title = "新增部门";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>部门新建</h2>
@using (Html.BeginForm("Create", "Dept",FormMethod.Post, new { @id = "AddForm" }))
{
    <table>
        <tr>
            <td>公司</td>
            <td>
                @Html.DropDownListFor(m => Model.CompanyID, ViewBag.Company as List<SelectListItem>)
            </td>
        </tr>
        <tr>
            <td>部门名称</td>
            <td>@Html.TextBoxFor(m => Model.DeptName)</td>
        </tr>
        <tr>
            <td>上级部门</td>
            @*<td><select name="UpperDeptID" id="UpperDeptID">
                  <option value="0">-请选择-</option>
                </select>
            </td>*@
            <td>
                <input name="UpperDeptID" id="UpperDeptID"/>
            </td>
        </tr>
        <tr>
            <td>部门备注</td>
            <td>@Html.TextBoxFor(m => Model.DeptRemark)</td>
        </tr>
        <tr>
            <td>排序字</td>
            <td>@Html.TextBoxFor(m => Model.SortID)</td>
        </tr>
        @*<tr>
            <td><input type="submit" value="保存" /></td>
            <td><input type="button" value="取消" onclick="cancel()"/></td>
        </tr>*@
    </table>
}

@section scripts{
<script type="text/javascript">
    $(function () {
       // setDeptByCompany();

        initComTree();
        $("#CompanyID").change(function () {
            var selectId = $("#CompanyID").val();
            var url = '/Dept/GetDeptByComId?comId=' + selectId;
            $('#UpperDeptID').combotree('reload', url);
        });

    });

    function initComTree() {
        var selectId = $("#CompanyID").val();
        $('#UpperDeptID').combotree({
            url: '/Dept/GetDeptByComId?comId='+selectId,
            valueField: 'id',
            textField: 'text'
        });
    }

    function setDeptByCompany()
    {
        var selectId = $("#CompanyID").val();

        Utils.ajaxGet('/Dept/GetDeptByComId', { comId: selectId }, 'json', function (ret) {

            $('#UpperDeptID').combotree('loadData', ret.Data);
        //    $("#UpperDeptID").empty();
        //    var option = "<option value='0'>--请选择--</option>";;
        //    if (ret.length > 0) {
        //        //遍历json数据，拼接option，最后添加到select中
        //        $.each(ret, function (i, n) {
        //            option += "<option value=" + n.Value + ">" + n.Text + "</option>";
        //        });
        //    }
        //    $("#UpperDeptID").append(option); //等同于 $(option).appendTo($("#catagery"));
        });
    }

    function cancel()
    {
        $('#AddForm')[0].reset();
    }
</script>
}